In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
# historical stock prices for 5 companies
lulu = pd.read_csv("C:/Users/meuni/Documents/aml_project/data/historical_data_lululemon.csv")
wmt = pd.read_csv("C:/Users/meuni/Documents/aml_project/data/historical_data_walmart.csv")
wba = pd.read_csv("C:/Users/meuni/Documents/aml_project/data/historical_data_walgreens.csv")
ulta = pd.read_csv("C:/Users/meuni/Documents/aml_project/data/historical_data_ulta.csv")
dltr = pd.read_csv("C:/Users/meuni/Documents/aml_project/data/historical_data_dollartree.csv")

In [3]:
companies = [lulu, wmt, wba, ulta, dltr]
for company in companies:
    company['Date'] = pd.to_datetime(company['Date'], format='%Y-%m-%d %H:%M:%S%z', utc=True).dt.date
    company['Date'] = pd.to_datetime(company['Date'])

In [4]:
lulu.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2019-01-02,118.889999,124.589996,118.279999,123.349998,2085800,0.0,0.0
1,2019-01-03,121.849998,126.120003,120.320000,124.360001,2896800,0.0,0.0
2,2019-01-04,125.849998,129.570007,125.309998,128.550003,2184600,0.0,0.0
3,2019-01-07,129.330002,135.100006,129.330002,134.100006,2860000,0.0,0.0
4,2019-01-08,135.520004,137.179993,133.669998,135.860001,2322600,0.0,0.0

In [5]:
# refinitv data for 5 companies
refinitiv = pd.read_csv("C:/Users/meuni/Documents/aml_project/data/refinitiv-2024-10-16.csv")
refinitiv.head()

C:\Users\meuni\AppData\Local\Temp\ipykernel_51928\1011031858.py:2: DtypeWarning: Columns (17,36,40) have mixed types. Specify dtype option on import or set low_memory=False.
  refinitiv = pd.read_csv("C:/Users/meuni/Documents/aml_project/data/refinitiv-2024-10-16.csv")

,InfoCode,MarketDate,ExchIntCode,ISOCurrCode,RefPrcTypCode,Open_,High,Low,Close_,Volume,...,DsCmpyName,CmpyCtryCode,CmpyCtryType,IndusIsDef,StartDate,EndDate,ISIN,ISIN2,LicFlagC,Ticker
0,46588,2021-07-13,340,USD,1,139.95501,141.18000,139.95000,140.56000,398515.0,...,WALMART INCO.,US,1,Y,2007-03-01,2079-06-05,US9311421039,NaN,1,WMT
1,46588,2023-03-27,254,USD,1,142.90000,144.97501,142.79000,144.17000,2106916.0,...,WALMART INCO.,US,1,Y,2007-03-01,2079-06-05,US9311421039,NaN,1,WMT
2,46588,2020-12-16,340,USD,1,146.20000,146.89000,145.08001,145.42000,382041.0,...,WALMART INCO.,US,1,Y,2007-03-01,2079-06-05,US9311421039,NaN,1,WMT
3,46588,2020-12-14,345,USD,1,147.50000,147.51000,145.41001,145.53000,323825.0,...,WALMART INCO.,US,1,Y,2007-03-01,2079-06-05,US9311421039,NaN,1,WMT
4,46588,2020-11-16,253,USD,1,150.70000,153.38001,149.31000,152.44001,1119426.0,...,WALMART INCO.,US,1,Y,2007-03-01,2079-06-05,US9311421039,NaN,1,WMT

In [6]:
# market data
external_indicators = pd.read_csv("C:/Users/meuni/Documents/aml_project/data/external_indicators.csv")
external_indicators['Date'] = pd.to_datetime(external_indicators['Date'])
external_indicators.head()

,Date,CPIAUCSL,PCE,PPIACO,ECIALLCIV,GDPDEF,UNRATE,MCUMFN,SP500
0,2019-01-01,252.561,14084.6,199.1,136.1,103.328,4.0,78.2051,NaN
1,2019-01-02,252.561,14084.6,199.1,136.1,103.328,4.0,78.2051,2510.03
2,2019-01-03,252.561,14084.6,199.1,136.1,103.328,4.0,78.2051,2447.89
3,2019-01-04,252.561,14084.6,199.1,136.1,103.328,4.0,78.2051,2531.94
4,2019-01-05,252.561,14084.6,199.1,136.1,103.328,4.0,78.2051,2531.94

In [7]:
lulu_wmt = pd.merge(lulu, wmt, on='Date', suffixes=('_lulu', '_wmt'))
wba_ulta = pd.merge(wba, ulta, on='Date', suffixes=('_wba', '_ulta'))
data = pd.merge(lulu_wmt, wba_ulta, on='Date')

dltr = dltr.rename(columns=lambda col: col + '_dltr' if col != 'Date' else col)
data = pd.merge(data, dltr, on='Date')
data = pd.merge(data, external_indicators, on='Date', how='right')

data

,Date,Open_lulu,High_lulu,Low_lulu,Close_lulu,Volume_lulu,Dividends_lulu,Stock Splits_lulu,Open_wmt,High_wmt,...,Dividends_dltr,Stock Splits_dltr,CPIAUCSL,PCE,PPIACO,ECIALLCIV,GDPDEF,UNRATE,MCUMFN,SP500
0,2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,252.561,14084.6,199.100,136.1,103.328,4.0,78.2051,NaN
1,2019-01-02,118.889999,124.589996,118.279999,123.349998,2085800.0,0.0,0.0,27.838942,28.449552,...,0.0,0.0,252.561,14084.6,199.100,136.1,103.328,4.0,78.2051,2510.03
2,2019-01-03,121.849998,126.120003,120.320000,124.360001,2896800.0,0.0,0.0,28.315889,28.771568,...,0.0,0.0,252.561,14084.6,199.100,136.1,103.328,4.0,78.2051,2447.89
3,2019-01-04,125.849998,129.570007,125.309998,128.550003,2184600.0,0.0,0.0,28.315886,28.452589,...,0.0,0.0,252.561,14084.6,199.100,136.1,103.328,4.0,78.2051,2531.94
4,2019-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,252.561,14084.6,199.100,136.1,103.328,4.0,78.2051,2531.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2111,2024-10-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,314.686,20024.3,252.526,166.8,125.501,4.1,76.6266,5815.03
2112,2024-10-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,314.686,20024.3,252.526,166.8,125.501,4.1,76.6266,5815.03
2113,2024-10-14,278.500000,287.190002,272.899994,286.760010,2125700.0,0.0,0.0,80.050003,80.510002,...,0.0,0.0,314.686,20024.3,252.526,166.8,125.501,4.1,76.6266,5859.85
2114,2024-10-15,286.420013,292.450012,285.269989,287.480011,1948600.0,0.0,0.0,80.669998,81.820000,...,0.0,0.0,314.686,20024.3,252.526,166.8,125.501,4.1,76.6266,5815.26
2115,2024-10-16,287.339996,295.359985,286.709991,294.209991,2344000.0,0.0,0.0,81.529999,81.660004,...,0.0,0.0,314.686,20024.3,252.526,166.8,125.501,4.1,76.6266,5842.47

In [8]:
data.to_csv("C:/Users/meuni/Documents/aml_project/data/merged_data.csv", index=False)